<h1>Grade Student Assignment</h1>
<form action="/gradeStudentAssignment" method="post">
	<div class="form-group">
		<label>Points:</label>
		<input type="text" name="totalpoints" class="form-control">
	</div>

	<a href="/studentgrades/index" input type="submit" value="Grade" class="btn btn-primary" button style="width:75px">Grade</a>
